body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}


.hero {
    background-image: url('beranda 1.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #444;
}
.promosi {
    padding: 2em;
}

.promosi h2 {
    margin-top: 0;
}

.gallery {
    /* Container untuk foto */
.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  /* Styling untuk masing-masing foto */
  .photo {
    width: 30%; /* lebar foto */
    margin: 10px; /* jarak antar foto */
    border: 1px solid #ddd; /* border foto */
    border-radius: 10px; /* rounded corner */
    overflow: hidden; /* untuk menghindari overflow */
  }
  
  .photo img {
    width: 100%; /* lebar gambar */
    height: 85%; /* tinggi gambar */
    object-fit: cover; /* untuk membuat gambar terlihat rapi */
  }
}
